.content2{
    display: flex;
    justify-content: space-between;
}



a{
    text-decoration: none;
    color: #000000;
    font-size: large;
}
a:hover{
    color: #000000;
}

.submit{
    font-size: 25px;
}

label{
    font-size: 20px;
}